<h1>List of Published Books</h1>
<form method="GET" action="{{ path('search_books') }}">
    <input type="text" name="ref" placeholder="Rechercher par référence">
    <button type="submit">Rechercher</button>
</form>

<table class="table" border=1>
    <thead>
        <tr>
            <th>Title</th>
            <th>Publication Date</th>
            <th>Published</th>
            <th>Category</th>
            <th>Author</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for book in publishedBooks %}
            <tr>
                <td>{{ book.title }}</td>
                <td>{{ book.publicationDate|date("Y-m-d") }}</td>
                <td>{{ book.published ? 'Yes' : 'No' }}</td>
                <td>{{ book.category }}</td>
                <td>{{ book.author.username }}</td>
                <td>
                <a href="{{ path('edit', {'id': book.id}) }}" class="btn btn-primary">edit</a>
                <a href="{{ path('book_remove', {'id': book.id}) }}" class="btn btn-primary">delete</a>
                <a href="{{ path('book_show', {'id': book.id}) }}" class="btn btn-primary">show</a>
            </tr>
        {% endfor %}
    </tbody>
</table>
<p>Number of Published Books: {{ publishedBooks|length }}</p>
<p>Number of Non-Published Books: {{ nonPublishedBooksCount }}</p>
<button type="submit" class="btn btn-primary">
    <a href="{{ path('book_add') }}" >Create New</a>
</button>